<%= stylesheet_link_tag "book"  %>


<h1>New university</h1>

<%= render "form", university: @university %>

<%= link_to "Back ", universities_path, class: "btn btn-light btn-new" %>

<br>

<div>

</div>
